

  <h2 class="display-3"> <ins>Accueil</ins></h2>
  <div class="row mt-2 mb-2 ">
    <p class="col col-sm shadow rounded" >
      {{post[0]?.description}}
    </p>
    <p class="col col-sm shadow rounded">
      {{post[1]?.description}}
    </p>
    <p class="col col-sm shadow rounded">
      {{post[2]?.description}}
    </p>
  </div>
  <div class="row mt-2 mb-2 ">
    <img src="{{post[5]?.img }}" alt="" class="col col-sm img-fluid h-auto w-auto">
    <p class="col col-sm shadow rounded">
        {{post[3]?.description}}
    </p>
    <p class="col col-sm shadow rounded">
      {{post[4]?.description}}
    </p>
  </div>


